.botton-blue{
    background-color: #4da6ff;
    color: white;
    border: none;
    padding: 8px 12px;
}

.botton-green{
    background-color: #66cc66;
    color: white;
    border: none;
    padding: 8px 12px;
}

.st-key-I button,
.st-key-X button{
    background-color: #002d9c;
    color: white;
    border: none;
}

.st-key-I button:hover,
.st-key-X button:hover{
    background-color: white;
    color: #002d9c;
    border: none;
}

.st-key-Y button,
.st-key-RX button,
.st-key-RY button,
.st-key-RZ button{
    background-color: #9f1853;
    color: white;
    border: none;
}

.st-key-Y button:hover,
.st-key-RX button:hover,
.st-key-RY button:hover,
.st-key-RZ button:hover{
    background-color: white;
    color: #9f1853;
    border: none;
}

.st-key-Z button,
.st-key-S button,
.st-key-T button{
    background-color: #33b1ff;
    color: white;
    border: none;
}

.st-key-Z button:hover,
.st-key-S button:hover,
.st-key-T button:hover{
    background-color: white;
    color: #33b1ff;
    border: none;
}

.st-key-H button{
    background-color: #fa4d56;
    color: white;
    border: none;
}

.st-key-H button:hover{
    background-color: white;
    color: #fa4d56;
    border: none;
}

.stMarkdown .katex{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.123);
    padding: 12px;
    border-radius: 10px;
    color: white;
}

.st-key-measure button:hover,
.st-key-clear_all button:hover{
    background-color: white;
    color: rgb(14, 17, 23);
    border: none;
}

.st-emotion-cache-954c2p p{
    color: white;
}

table thead
{
    background-color: rgba(255, 255, 255, 0.123);
}

.st-emotion-cache-954c2p p,
.st-emotion-cache-seewz2 p{
    font-size: 17px;
}

.st-emotion-cache-726zfe{
    background-color: #758f92;
    border: none;
}